.title {
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 7px;
  color: var(--gray-800);
  margin-top: 40px;
  font-size: 1.25rem;
}

.line {
  border: none;
  height: 1px;
  background-color: var(--gray-400);
}

.container {
  /* TODO: Fix classes */
  margin-bottom: 20px;
}
