@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url(./Raleway-Regular.woff2) format('woff2');
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url(./Raleway-Light.woff2) format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url(./Raleway-Medium.woff2) format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url(./Raleway-SemiBold.woff2) format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url(./Raleway-Bold.woff2) format('woff2');
  font-weight: bold;
}

