@import "~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss"

@import "~material-colors/dist/colors.sass"

@import "_colors"

$primary1Color: $grey800
$primary2Color: $yellow800
$primary3Color: $grey400
$accent1Color: $greenA200
$accent2Color: $grey100
$accent3Color: $grey500
$textColor: $grey100
$secondaryTextColor: rgba($darkBlack, 0.54)
$alternateTextColor: $grey100
$canvasColor: $grey800
$borderColor: $grey300
$disabledColor: rgba($darkBlack, 0.3)
$pickerHeaderColor: $yellow600
$clockCircleColor: rgba($darkBlack, 0.07)
$shadowColor: rgba($fullBlack, 0.999)

:export
  primary1Color: $primary1Color
  primary2Color: $primary2Color
  primary3Color: $primary3Color
  accent1Color: $accent1Color
  accent2Color: $accent2Color
  accent3Color: $accent3Color
  textColor: $textColor
  secondaryTextColor: $secondaryTextColor
  alternateTextColor: $alternateTextColor
  canvasColor: $canvasColor
  borderColor: $borderColor
  disabledColor: $disabledColor
  pickerHeaderColor: $pickerHeaderColor
  clockCircleColor: $clockCircleColor
  shadowColor: $shadowColor
