.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 0;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
}

.container:hover {
  background-color: var(--gray-300);
}

.container:focus {
  background-color: var(--gray-300);
}
