.educationName {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--gray-800);
  line-height: 1.4rem;
}

.universityName {
  margin-top: 7px;
  font-size: 1.1rem;
}

.dateRange {
  font-size: 1.1rem;
}
