.listItem {
  margin-left: 40px;
  position: relative;
}

.listItem::before {
  content: '●';
  color: var(--gray-800);
  font-size: 10px;
  position: absolute;
  left: -20px;
  line-height: 1.55rem;
}
