.listItem {
  margin-left: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
}

.listItem::before {
  content: '●';
  color: var(--gray);
  font-size: 10px;
  position: absolute;
  left: -20px;
  line-height: 20px;
}
