.jobName {
  font-family: OpenSans;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--gray);
  letter-spacing: 3px;
  font-size: 13px;
  margin-top: 25px;
}

.companyAndDates {
  color: var(--gray);
  font-weight: 700;
  font-style: italic;
  font-size: 15px;
  margin-top: 7px;
  margin-bottom: 5px;
}

.content {
  font-size: 13px;
  line-height: 20px;
  font-family: Raleway;
}

.content ul li {
  margin-left: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
}

.content ul li::before {
  content: '●';
  color: var(--gray);
  margin-right: 15px;
  font-size: 10px;
  position: absolute;
  left: -20px;
}

.spacer {
  --margin: 6px;
  margin-left: var(--margin);
  margin-right: var(--margin);
  font-style: normal;
}
