.jobName {
  font-family: OpenSans;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--gray-800);
  letter-spacing: 3px;
  font-size: 1rem;
  margin-top: 25px;
}

.companyAndDates {
  color: var(--gray-800);
  font-weight: 700;
  font-style: italic;
  font-size: 1.15rem;
  margin-top: 7px;
  margin-bottom: 5px;
}

.spacer {
  --margin: 6px;
  margin-left: var(--margin);
  margin-right: var(--margin);
  font-style: normal;
}
