/* TODO: move this styles into its own component */
.list li {
  margin-left: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
}

.list li::before {
  content: '●';
  color: var(--gray);
  font-size: 10px;
  position: absolute;
  left: -20px;
}
