@import "~materialize-sass-origin/sass/components/color"

$primary-color: color("green", "accent-2") !default
$secondary-color: color("green", "accent-2") !default
$background-color: color("grey", "darken-4") !default
$translucid: rgba(0, 0, 0, 0)

$collapsible-header-color: $translucid !default
$collapsible-border-color: $primary-color !default
