.container {
  text-align: center;
}

.personName {
  font-family: OpenSans;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 7px;
  font-size: var(--font-size-h1);
  text-align: center;
  color: var(--gray-800);
  margin-top: 20px;
  margin-bottom: 20px;
}

.role {
  font-family: OpenSans;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 7px;
  font-size: var(--font-size-h2);
  text-align: center;
  color: var(--gray-800);
  margin-bottom: 15px;
}

.logo {
  text-align: center;
  max-height: 50px;
  margin-bottom: 20px;
}
