.container {
  /* TODO: implement styles */
  background-color: white;
  margin-bottom: 20px;
  margin-top: 35px;
}

.title {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--gray);
}
