body {
  font-family: Raleway;
}

b {
  font-weight: 600;
}

:root {
  --font-size-h1: 4.6rem;
  --font-size-h2: 1.25rem;
  --font-size-h3: 1.25rem;
  --font-size: 13px;
  font-size: var(--font-size);

  --gray: #4a4a4a;
  --light-gray: #eaeaea;
  --lighter-gray: #f3f3f3;

  --paper-width: 210mm;
}

@media screen and (min-width: 1400px) {
  :root {
    --font-size: 15px;
    --paper-width: 270mm;
  }
}

@media screen and (min-width: 1940px) {
  :root {
    --font-size: 16px;
    --paper-width: 330mm;
  }
}

@media print {
  :root {
    --font-size: 12px;
  }
}
