/*span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
b,
u,
i {
  color: #535353;
}
*/
body {
  font-family: Raleway;
}

b {
  font-weight: 600;
}

:root {
  --font-size-default: 13px;

  --font-size-h1: 60px;
  --font-size-h2: 16px;
  --font-size-h3: 1.25rem;
  --font-size: 13px;
  font-size: var(--font-size);

  --gray: #4a4a4a;
  --light-gray: #eaeaea;
  --lighter-gray: #f3f3f3;
}
